<%- include("./partials/header")%>
<!--Main Page-->
<div class="container">
  <h1>Movie Search Application!</h1>
  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">
      This is a simple movie search application, where users can search for
      their favourite movie and all their thoughts on it.
    </p>
    <hr class="my-4" />
    <p>This is created by Akshay Jain.</p>
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up!</a>
  </div>
</div>
<%- include("./partials/footer")%>
